{% load static %}
<html>
    <head>
      <title>Django Site</title>
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


    </head>
    <body>
      <div>
        <h1><a href="">Django Site</a></h1>
      </div>

        <p>published: 01.07.2021, 14:40</p>
        <h2><a href="">First Post</a></h2>
        <p>모르겠다.</p>
        <p>published: 01.07.2021, 14:41</p>
        <h2><a href="">Second Post</a></h2>
        <p>진짜로</p>
    </body>
</html>
